webcrawaler/sample.txt
webcrawaler/sample.xml
webcrawaler/sample.pdf
webcrawaler/output.txt
fel.gif
Test.ipynb
201525118_assignment-4.pdf
.ipynb_checkpoints/
__pycache__/
webCrawaler/EventGuidelines-050409_TimeML.pdf
webCrawaler/EventGuidelines-050409_TimeML.txt
webCrawaler/EventGuidelines-050409_TimeML.xml
webCrawaler/results
webCrawaler/Dis.xml
webCrawaler/Dis.pdf
sample.pdf
webCrawaler/webCrawaler/lel.xlsx
webcrawaler/webcrawaler/output.csv
webCrawaler/webCrawaler/spiders/
webCrawaler/output.csv
files/
website/
Data (1).pdf
SampleCSVFile_2kb.csv
datafile (1).xls
